In [2]:
import pandas as pd

In [57]:
df = pd.read_csv('filtered_trades.csv')
df.set_index('ticker', inplace=True)
df['min_date'] = pd.to_datetime(df['min_date'])
df['max_date'] = pd.to_datetime(df['max_date'])

spy = pd.read_csv('spy.us.txt', usecols=["Date", "Close"], parse_dates=True)
# spy = spy['Close']
spy['spy close'] = spy['Close']
spy.drop(['Close'], axis=1, inplace=True)
spy.set_index('Date', inplace=True)
spy

            spy close
Date
2005-02-25     105.79
2005-02-28     105.08
2005-03-01     105.62
2005-03-02     105.57
2005-03-03     105.61
2005-03-04     106.93
2005-03-07     106.97
2005-03-08     106.55
2005-03-09     105.39
2005-03-10     105.62
2005-03-11     104.88
2005-03-14     105.54
2005-03-15     104.65
2005-03-16     103.77
2005-03-17     103.99
2005-03-18     103.26
2005-03-21     102.89
2005-03-22     101.85
2005-03-23     101.93
2005-03-24     102.05
2005-03-28     102.19
2005-03-29     101.51
2005-03-30     102.96
2005-03-31     102.77
2005-04-01     102.30
2005-04-04     102.48
2005-04-05     102.97
2005-04-06     103.32
2005-04-07     103.87
2005-04-08     102.80
...               ...
2017-10-02     252.32
2017-10-03     252.86
2017-10-04     253.16
2017-10-05     254.66
2017-10-06     254.37
2017-10-09     253.95
2017-10-10     254.62
2017-10-11     255.02
2017-10-12     254.64
2017-10-13     254.95
2017-10-16     255.29
2017-10-17     255.47
2017-10-18     255.72
2017-10-19     255.79
2017-10-20     257.11
2017-10-23     256.11
2017-10-24     256.56
2017-10-25     255.29
2017-10-26     255.62
2017-10-27     257.71
2017-10-30     256.75
2017-10-31     257.15
2017-11-01     257.49
2017-11-02     257.59
2017-11-03     258.45
2017-11-06     258.85
2017-11-07     258.67
2017-11-08     259.11
2017-11-09     258.17
2017-11-10     258.09

[3201 rows x 1 columns]

In [70]:
aggregated_min_data = pd.DataFrame()
for (ticker, trades) in df.iterrows():
    data = pd.read_csv('data/' + ticker + '.csv')
    data['Date'] = pd.to_datetime(data['Date'])
    data.set_index('Date', inplace = True)
    data = data.loc[trades['min_date'] - pd.DateOffset(weeks=1) : trades['min_date'] + pd.DateOffset(months=1)]
    data = data.join(spy)
    data.reset_index(inplace=True)
    data['Offset'] = data.apply(lambda row: (row['Date'] - trades['min_date']).days, axis=1)
    #data.drop(['Date'], axis =1, inplace=True)
    aggregated_min_data[ticker + ' date'] = data['Date']
    aggregated_min_data[ticker + ' offset'] = data['Offset']
    aggregated_min_data[ticker + ' close'] = data['Close']
    aggregated_min_data[ticker + ' volume'] = data['Volume']
    aggregated_min_data[ticker + ' spy close'] = data['spy close']
print aggregated_min_data

    este date  este offset  este close  este volume  este spy close  \
0  2016-11-28           -7       12.92        53206          216.11
1  2016-11-29           -6       12.61        92264          216.54
2  2016-11-30           -5       14.54       217651          216.01
3  2016-12-01           -4       15.21       302401          215.22
4  2016-12-02           -3       14.66       128059          215.32
5  2016-12-05            0       13.96        82078          216.63
6  2016-12-06            1       13.78        87808          217.31
7  2016-12-07            2       13.56        68709          220.14
8  2016-12-08            3       14.00        57013          220.69
9  2016-12-09            4       14.11        72165          222.01
10 2016-12-12            7       14.29       113708          221.76
11 2016-12-13            8       14.20        59605          223.26
12 2016-12-14            9       13.81       154093          221.41
13 2016-12-15           10       13.70        38126          222.31
14 2016-12-16           11       13.65        52864          221.88
15 2016-12-19           14       13.80        97634          222.36
16 2016-12-20           15       13.57        43423          223.23
17 2016-12-21           16       13.52        47652          222.60
18 2016-12-22           17       13.35        40118          222.21
19 2016-12-23           18       13.33        13106          222.54
20 2016-12-27           22       13.21        16951          223.10
21 2016-12-28           23       13.50        31439          221.26
22 2016-12-29           24       13.69        35902          221.21
23 2016-12-30           25       13.74        28504          220.39
24 2017-01-03           29       13.00       320107          222.07
25 2017-01-04           30       13.37        32827          223.41
26 2017-01-05           31       13.34        26802          223.23

     vmc date  vmc offset  vmc close  vmc volume  vmc spy close  \
0  2016-08-08          -7     119.09     1435962         212.66
1  2016-08-09          -6     118.43      748610         212.79
2  2016-08-10          -5     120.39     1121594         212.26
3  2016-08-11          -4     119.95     1026955         213.24
4  2016-08-12          -3     117.80      899271         213.06
5  2016-08-15           0     118.62      900750         213.66
6  2016-08-16           1     116.91      849581         212.57
7  2016-08-17           2     116.50     1362035         212.97
8  2016-08-18           3     116.99      635975         213.44
9  2016-08-19           4     115.60     1228401         213.14
10 2016-08-22           7     117.98      865307         213.13
11 2016-08-23           8     118.51      771776         213.54
12 2016-08-24           9     119.29     1021784         212.47
13 2016-08-25          10     116.65     1244482         212.32
14 2016-08-26          11     115.18      855674         211.91
15 2016-08-29          14     115.95      580384         212.96
16 2016-08-30          15     115.33      604668         212.61
17 2016-08-31          16     112.98     1045316         212.00
18 2016-09-01          17     111.50     1934330         212.01
19 2016-09-02          18     113.58      916232         212.97
20 2016-09-06          22     112.08      903319         213.60
21 2016-09-07          23     112.07      881722         213.58
22 2016-09-08          24     110.53     1257871         213.11
23 2016-09-09          25     107.03     1520414         208.01
24 2016-09-12          28     111.25     1704358         210.99
25 2016-09-13          29     109.03      898022         207.96
26 2016-09-14          30     108.25     1241269         207.88

         ...        arnc date  arnc offset  arnc close  arnc volume  \
0        ...       2017-07-10           -7      23.716      5433580
1        ...       2017-07-11           -6      23.906      4353641
2        ...       2017-07-12           -5      24.074      2803396
3        ...       2017-07-13           -4      24.334      4478830
4        ...       2017-07-14           -3      24.274      2636592
5        ...       2017-07-17            0      24.831      4317499
6        ...       2017-07-18            1      24.762      2819229
7        ...       2017-07-19            2      25.000      2249548
8        ...       2017-07-20            3      24.632      6033749
9        ...       2017-07-21            4      25.090      3816280
10       ...       2017-07-24            7      25.050      5714543
11       ...       2017-07-25            8      25.796      4678507
12       ...       2017-07-26            9      25.468      3019547
13       ...       2017-07-27           10      25.000      3362007
14       ...       2017-07-28           11      24.831      1890958
15       ...       2017-07-31           14      24.672      2459327
16       ...       2017-08-01           15      24.980      3258512
17       ...       2017-08-02           16      24.821      5045462
18       ...       2017-08-03           17      25.269      4907528
19       ...       2017-08-04           18      25.070      2268511
20       ...       2017-08-07           21      25.279      2884777
21       ...       2017-08-08           22      24.930      3585274
22       ...       2017-08-09           23      24.591      2578268
23       ...       2017-08-10           24      23.963      2761258
24       ...       2017-08-11           25      23.933      2306456
25       ...       2017-08-14           28      24.501      1865723
26       ...       2017-08-15           29      24.691      3094047

    arnc spy close  arch date  arch offset  arch close  arch volume  \
0           241.18 2017-08-21           -7      75.374       208931
1           241.00 2017-08-22           -6      76.290       229866
2           242.81 2017-08-23           -5      77.305       356854
3           243.22 2017-08-24           -4      75.115       349450
4           244.35 2017-08-25           -3      76.220       354545
5           244.32 2017-08-28            0      76.280       284485
6           244.45 2017-08-29            1      77.070       354082
7           245.78 2017-08-30            2      76.550       294471
8           245.88 2017-08-31            3      79.870       515364
9           245.67 2017-09-01            4      80.110       572281
10          245.61 2017-09-05            8      76.720       351603
11          246.20 2017-09-06            9      78.220       374475
12          246.21 2017-09-07           10      78.110       290240
13          245.98 2017-09-08           11      76.500       382879
14          245.70 2017-09-11           14      75.450       458261
15          245.56 2017-09-12           15      75.050       470807
16          246.10 2017-09-13           16      76.040       392416
17          246.22 2017-09-14           17      76.970       307484
18          245.75 2017-09-15           18      75.300       360801
19          246.19 2017-09-18           21      74.240       246200
20          246.65 2017-09-19           22      72.530       404633
21          246.04 2017-09-20           23      72.890       353201
22          246.03 2017-09-21           24      71.550       395693
23          242.56 2017-09-22           25      71.150       476049
24          242.92 2017-09-25           28      73.180       420196
25          245.33 2017-09-26           29      73.840       356482
26          245.30 2017-09-27           30      73.620       352489

    arch spy close
0           241.71
1           244.23
2           243.36
3           242.79
4           243.36
5           243.37
6           243.65
7           244.80
8           246.27
9           246.62
10          244.85
11          245.69
12          245.66
13          245.37
14          247.98
15          248.82
16          248.94
17          248.86
18          249.19
19          249.72
20          249.97
21          250.06
22          249.39
23          249.44
24          248.93
25          249.08
26          250.05

[27 rows x 415 columns]

In [71]:
aggregated_data.to_csv("aggregated_min_window_data.csv")

In [61]:
aggregated_max_data = pd.DataFrame()
for (ticker, trades) in df.iterrows():
    
    data = pd.read_csv('data/' + ticker + '.csv')
    data['Date'] = pd.to_datetime(data['Date'])
    data.set_index('Date', inplace = True)
    data = data.loc[trades['max_date'] - pd.DateOffset(weeks=1) : trades['max_date'] + pd.DateOffset(months=1)]
    data = data.join(spy)
    data.reset_index(inplace=True)
    data.reset_index(inplace=True)
    data['Offset'] = data.apply(lambda row: (row['Date'] - trades['max_date']).days, axis=1)
    #data.drop(['Date'], axis =1, inplace=True)
    aggregated_max_data[ticker + ' date'] = data['Date']
    aggregated_max_data[ticker + ' offset'] = data['Offset']
    aggregated_max_data[ticker + ' close'] = data['Close']
    aggregated_max_data[ticker + ' volume'] = data['Volume']
    aggregated_max_data[ticker + ' spy close'] = data['spy close']
    #print data
print aggregated_max_data

    este date  este offset  este close  este volume  este spy close  \
0  2016-05-31           -6       13.30        69368          203.58
1  2016-06-01           -5       13.30        33744          204.00
2  2016-06-02           -4       13.33        73119          204.64
3  2016-06-03           -3       12.75        31162          204.01
4  2016-06-06            0       13.10        81551          205.06
5  2016-06-07            1       13.51       161383          205.36
6  2016-06-08            2       13.09        81482          206.04
7  2016-06-09            3       12.67        69082          205.76
8  2016-06-10            4       12.52        58073          203.78
9  2016-06-13            7       12.15        79141          202.24
10 2016-06-14            8       11.98        62251          201.83
11 2016-06-15            9       11.97        52048          201.55
12 2016-06-16           10       10.25      1116258          202.16
13 2016-06-17           11       10.50       196260          201.41
14 2016-06-20           14       10.39       182736          202.72
15 2016-06-21           15       10.43       172017          203.28
16 2016-06-22           16       10.50       199635          202.96
17 2016-06-23           17       10.68       338725          205.59
18 2016-06-24           18       10.52       309467          198.11
19 2016-06-27           21       10.39       119528          194.67
20 2016-06-28           22       11.05       104848          198.18
21 2016-06-29           23       11.09       156384          201.54
22 2016-06-30           24       10.78        51348          204.31
23 2016-07-01           25       11.33       105636          204.66
24 2016-07-05           29       10.54       104305          203.26
25 2016-07-06           30       10.76        98890          204.48

     vmc date  vmc offset  vmc close  vmc volume  vmc spy close  \
0  2013-06-24          -7     46.997      989959         144.20
1  2013-06-25          -6     47.584      814768         145.61
2  2013-06-26          -5     48.032      575242         147.02
3  2013-06-27          -4     49.181      643159         147.90
4  2013-06-28          -3     47.380      681980         147.28
5  2013-07-01           0     47.751      552710         148.15
6  2013-07-02           1     46.772      669975         148.01
7  2013-07-03           2     46.450      288633         148.07
8  2013-07-05           4     45.941      738652         149.68
9  2013-07-08           7     45.911      675585         150.51
10 2013-07-09           8     47.850      777944         151.61
11 2013-07-10           9     48.280      416118         151.66
12 2013-07-11          10     49.630      733727         153.73
13 2013-07-12          11     49.600      407926         153.80
14 2013-07-15          14     49.191      273314         154.38
15 2013-07-16          15     48.191      376432         153.82
16 2013-07-17          16     48.915      391816         154.19
17 2013-07-18          17     49.151      342018         155.04
18 2013-07-19          18     49.405      620135         155.31
19 2013-07-22          21     49.161      285564         155.63
20 2013-07-23          22     48.613      277440         155.29
21 2013-07-24          23     47.890      412264         154.72
22 2013-07-25          24     47.055      545803         155.09
23 2013-07-26          25     47.919      930439         155.26
24 2013-07-29          28     46.910      460582         154.78
25 2013-07-30          29     46.273     1355704         154.78

         ...        arnc date  arnc offset  arnc close  arnc volume  \
0        ...       2016-11-28           -7      19.957      4573716
1        ...       2016-11-29           -6      19.481      5937936
2        ...       2016-11-30           -5      19.095      6470847
3        ...       2016-12-01           -4      19.314      7907378
4        ...       2016-12-02           -3      19.501      3138085
5        ...       2016-12-05            0      20.066      4598020
6        ...       2016-12-06            1      20.126      4437530
7        ...       2016-12-07            2      20.679      4542371
8        ...       2016-12-08            3      20.709      3857546
9        ...       2016-12-09            4      21.591      6389124
10       ...       2016-12-12            7      21.373      5023811
11       ...       2016-12-13            8      20.987      4553019
12       ...       2016-12-14            9      20.551      5929209
13       ...       2016-12-15           10      20.363      4656992
14       ...       2016-12-16           11      20.066     16327119
15       ...       2016-12-19           14      19.828      4551191
16       ...       2016-12-20           15      19.907      3455619
17       ...       2016-12-21           16      19.828      2941002
18       ...       2016-12-22           17      19.877      3515860
19       ...       2016-12-23           18      19.590      2166339
20       ...       2016-12-27           22      19.590      2448118
21       ...       2016-12-28           23      19.065      3257461
22       ...       2016-12-29           24      18.522      4694603
23       ...       2016-12-30           25      18.362      5102225
24       ...       2017-01-03           29      19.005      4327102
25       ...       2017-01-04           30      19.511      4477567

    arnc spy close  arch date  arch offset  arch close  arch volume  \
0           216.11 2017-04-03           -7      70.896      1223313
1           216.54 2017-04-04           -6      72.164       756572
2           216.01 2017-04-05           -5      71.510       646274
3           215.22 2017-04-06           -4      73.987       513641
4           215.32 2017-04-07           -3      74.046       646346
5           216.63 2017-04-10            0      75.145       407217
6           217.31 2017-04-11            1      73.313       506528
7           220.14 2017-04-12            2      70.718       700474
8           220.69 2017-04-13            3      70.093       754448
9           222.01 2017-04-17            7      70.945       349244
10          221.76 2017-04-18            8      70.371       666773
11          223.26 2017-04-19            9      69.599       297002
12          221.41 2017-04-20           10      70.569       222556
13          222.31 2017-04-21           11      69.915       335633
14          221.88 2017-04-24           14      71.005       184265
15          222.36 2017-04-25           15      70.223       257002
16          223.23 2017-04-26           16      70.431       291349
17          222.60 2017-04-27           17      69.291       598940
18          222.21 2017-04-28           18      69.579       309561
19          222.54 2017-05-01           21      69.341       562485
20          223.10 2017-05-02           22      74.036      1469752
21          221.26 2017-05-03           23      71.896       611545
22          221.21 2017-05-04           24      69.341       585134
23          220.39 2017-05-05           25      70.262       261294
24          222.07 2017-05-08           28      70.975       249723
25          223.41 2017-05-09           29      71.223       188571

    arch spy close
0           233.04
1           233.19
2           232.49
3           233.15
4           232.91
5           233.05
6           232.77
7           231.74
8           230.24
9           232.28
10          231.59
11          231.17
12          233.05
13          232.30
14          234.86
15          236.22
16          236.07
17          236.27
18          235.75
19          236.35
20          236.44
21          236.15
22          236.43
23          237.37
24          237.33
25          237.11

[26 rows x 415 columns]

In [62]:
aggregated_max_data.to_csv("aggregated_max_window_data.csv")

In [73]:
aggregated_min_data = pd.DataFrame()
for (ticker, trades) in df.iterrows():
    data = pd.read_csv('data/' + ticker + '.csv')
    data['Date'] = pd.to_datetime(data['Date'])
    data.set_index('Date', inplace = True)
    data = data.loc[trades['min_date'] - pd.DateOffset(weeks=1) : trades['min_date'] + pd.DateOffset(months=1)]
    data = data.join(spy)
    data.reset_index(inplace=True)
    data['Offset'] = data.apply(lambda row: (row['Date'] - trades['min_date']).days, axis=1)
    data.set_index('Offset', inplace=True)
#     print data
#     break
    #data.drop(['Date'], axis =1, inplace=True)
    aggregated_min_data[ticker + ' date'] = data['Date']
    #aggregated_min_data[ticker + ' offset'] = data['Offset']
    aggregated_min_data[ticker + ' close'] = data['Close']
    aggregated_min_data[ticker + ' volume'] = data['Volume']
    aggregated_min_data[ticker + ' spy close'] = data['spy close']
print aggregated_min_data
aggregated_min_data.to_csv("aggregated_min_window_data.csv")

        este date  este close  este volume  este spy close   vmc date  \
Offset
-7     2016-11-28       12.92        53206          216.11 2016-08-08
-6     2016-11-29       12.61        92264          216.54 2016-08-09
-5     2016-11-30       14.54       217651          216.01 2016-08-10
-4     2016-12-01       15.21       302401          215.22 2016-08-11
-3     2016-12-02       14.66       128059          215.32 2016-08-12
 0     2016-12-05       13.96        82078          216.63 2016-08-15
 1     2016-12-06       13.78        87808          217.31 2016-08-16
 2     2016-12-07       13.56        68709          220.14 2016-08-17
 3     2016-12-08       14.00        57013          220.69 2016-08-18
 4     2016-12-09       14.11        72165          222.01 2016-08-19
 7     2016-12-12       14.29       113708          221.76 2016-08-22
 8     2016-12-13       14.20        59605          223.26 2016-08-23
 9     2016-12-14       13.81       154093          221.41 2016-08-24
 10    2016-12-15       13.70        38126          222.31 2016-08-25
 11    2016-12-16       13.65        52864          221.88 2016-08-26
 14    2016-12-19       13.80        97634          222.36 2016-08-29
 15    2016-12-20       13.57        43423          223.23 2016-08-30
 16    2016-12-21       13.52        47652          222.60 2016-08-31
 17    2016-12-22       13.35        40118          222.21 2016-09-01
 18    2016-12-23       13.33        13106          222.54 2016-09-02
 22    2016-12-27       13.21        16951          223.10 2016-09-06
 23    2016-12-28       13.50        31439          221.26 2016-09-07
 24    2016-12-29       13.69        35902          221.21 2016-09-08
 25    2016-12-30       13.74        28504          220.39 2016-09-09
 29    2017-01-03       13.00       320107          222.07 2016-09-13
 30    2017-01-04       13.37        32827          223.41 2016-09-14
 31    2017-01-05       13.34        26802          223.23 2016-09-15

        vmc close  vmc volume  vmc spy close   mtw date  mtw close  \
Offset
-7         119.09     1435962         212.66 2015-08-17     3.6736
-6         118.43      748610         212.79 2015-08-18     3.6210
-5         120.39     1121594         212.26 2015-08-19     3.6273
-4         119.95     1026955         213.24 2015-08-20     3.5622
-3         117.80      899271         213.06 2015-08-21     3.4276
 0         118.62      900750         213.66 2015-08-24     3.2089
 1         116.91      849581         212.57 2015-08-25     3.1438
 2         116.50     1362035         212.97 2015-08-26     3.2930
 3         116.99      635975         213.44 2015-08-27     3.4676
 4         115.60     1228401         213.14 2015-08-28     3.5811
 7         117.98      865307         213.13 2015-08-31     3.5916
 8         118.51      771776         213.54 2015-09-01     3.4948
 9         119.29     1021784         212.47 2015-09-02     3.5265
 10        116.65     1244482         212.32 2015-09-03     3.4969
 11        115.18      855674         211.91 2015-09-04     3.4676
 14        115.95      580384         212.96        NaT        NaN
 15        115.33      604668         212.61 2015-09-08     3.5959
 16        112.98     1045316         212.00 2015-09-09     3.5937
 17        111.50     1934330         212.01 2015-09-10     3.5475
 18        113.58      916232         212.97 2015-09-11     3.4969
 22        112.08      903319         213.60 2015-09-15     3.5811
 23        112.07      881722         213.58 2015-09-16     3.6295
 24        110.53     1257871         213.11 2015-09-17     3.4906
 25        107.03     1520414         208.01 2015-09-18     3.3813
 29        109.03      898022         207.96 2015-09-22     3.2846
 30        108.25     1241269         207.88 2015-09-23     3.2636
 31        108.89     1137233         209.95 2015-09-24     3.2383

             ...        ttd volume  ttd spy close  arnc date  arnc close  \
Offset       ...
-7           ...         3287228.0         237.95 2017-07-10      23.716
-6           ...          978833.0         237.73 2017-07-11      23.906
-5           ...         1956938.0         233.53 2017-07-12      24.074
-4           ...         1702795.0         234.46 2017-07-13      24.334
-3           ...         1476986.0         235.98 2017-07-14      24.274
 0           ...         1315504.0         237.19 2017-07-17      24.831
 1           ...         1243404.0         237.71 2017-07-18      24.762
 2           ...         4430129.0         238.26 2017-07-19      25.000
 3           ...         1697621.0         239.41 2017-07-20      24.632
 4           ...          896384.0         239.36 2017-07-21      25.090
 7           ...               NaN            NaN 2017-07-24      25.050
 8           ...         1826292.0         239.15 2017-07-25      25.796
 9           ...         1868443.0         239.09 2017-07-26      25.468
 10          ...         1430262.0         240.99 2017-07-27      25.000
 11          ...         1378170.0         241.78 2017-07-28      24.831
 14          ...          834324.0         241.62 2017-07-31      24.672
 15          ...          810902.0         240.84 2017-08-01      24.980
 16          ...          847338.0         241.29 2017-08-02      24.821
 17          ...          800276.0         241.41 2017-08-03      25.269
 18          ...         2055391.0         241.04 2017-08-04      25.070
 22          ...          960144.0         242.16 2017-08-08      24.930
 23          ...          839116.0         241.85 2017-08-09      24.591
 24          ...         1437083.0         241.40 2017-08-10      23.963
 25          ...         1612521.0         241.45 2017-08-11      23.933
 29          ...          916365.0         241.81 2017-08-15      24.691
 30          ...          767425.0         241.76 2017-08-16      24.781
 31          ...          941825.0         241.65 2017-08-17      24.222

        arnc volume  arnc spy close  arch date  arch close  arch volume  \
Offset
-7          5433580          241.18 2017-08-21      75.374     208931.0
-6          4353641          241.00 2017-08-22      76.290     229866.0
-5          2803396          242.81 2017-08-23      77.305     356854.0
-4          4478830          243.22 2017-08-24      75.115     349450.0
-3          2636592          244.35 2017-08-25      76.220     354545.0
 0          4317499          244.32 2017-08-28      76.280     284485.0
 1          2819229          244.45 2017-08-29      77.070     354082.0
 2          2249548          245.78 2017-08-30      76.550     294471.0
 3          6033749          245.88 2017-08-31      79.870     515364.0
 4          3816280          245.67 2017-09-01      80.110     572281.0
 7          5714543          245.61        NaT         NaN          NaN
 8          4678507          246.20 2017-09-05      76.720     351603.0
 9          3019547          246.21 2017-09-06      78.220     374475.0
 10         3362007          245.98 2017-09-07      78.110     290240.0
 11         1890958          245.70 2017-09-08      76.500     382879.0
 14         2459327          245.56 2017-09-11      75.450     458261.0
 15         3258512          246.10 2017-09-12      75.050     470807.0
 16         5045462          246.22 2017-09-13      76.040     392416.0
 17         4907528          245.75 2017-09-14      76.970     307484.0
 18         2268511          246.19 2017-09-15      75.300     360801.0
 22         3585274          246.04 2017-09-19      72.530     404633.0
 23         2578268          246.03 2017-09-20      72.890     353201.0
 24         2761258          242.56 2017-09-21      71.550     395693.0
 25         2306456          242.92 2017-09-22      71.150     476049.0
 29         3094047          245.30 2017-09-26      73.840     356482.0
 30         3533544          245.73 2017-09-27      73.620     352489.0
 31         1632841          241.89 2017-09-28      72.180     238198.0

        arch spy close
Offset
-7              241.71
-6              244.23
-5              243.36
-4              242.79
-3              243.36
 0              243.37
 1              243.65
 2              244.80
 3              246.27
 4              246.62
 7                 NaN
 8              244.85
 9              245.69
 10             245.66
 11             245.37
 14             247.98
 15             248.82
 16             248.94
 17             248.86
 18             249.19
 22             249.97
 23             250.06
 24             249.39
 25             249.44
 29             249.08
 30             250.05
 31             250.35

[27 rows x 332 columns]

In [74]:
aggregated_max_data = pd.DataFrame()
for (ticker, trades) in df.iterrows():
    data = pd.read_csv('data/' + ticker + '.csv')
    data['Date'] = pd.to_datetime(data['Date'])
    data.set_index('Date', inplace = True)
    data = data.loc[trades['max_date'] - pd.DateOffset(weeks=1) : trades['max_date'] + pd.DateOffset(months=1)]
    data = data.join(spy)
    data.reset_index(inplace=True)
    data['Offset'] = data.apply(lambda row: (row['Date'] - trades['max_date']).days, axis=1)
    data.set_index('Offset', inplace=True)
#     print data
#     break
    #data.drop(['Date'], axis =1, inplace=True)
    aggregated_max_data[ticker + ' date'] = data['Date']
    #aggregated_max_data[ticker + ' offset'] = data['Offset']
    aggregated_max_data[ticker + ' close'] = data['Close']
    aggregated_max_data[ticker + ' volume'] = data['Volume']
    aggregated_max_data[ticker + ' spy close'] = data['spy close']
print aggregated_max_data
aggregated_max_data.to_csv("aggregated_max_window_data.csv")

        este date  este close  este volume  este spy close   vmc date  \
Offset
-6     2016-05-31       13.30        69368          203.58 2013-06-25
-5     2016-06-01       13.30        33744          204.00 2013-06-26
-4     2016-06-02       13.33        73119          204.64 2013-06-27
-3     2016-06-03       12.75        31162          204.01 2013-06-28
 0     2016-06-06       13.10        81551          205.06 2013-07-01
 1     2016-06-07       13.51       161383          205.36 2013-07-02
 2     2016-06-08       13.09        81482          206.04 2013-07-03
 3     2016-06-09       12.67        69082          205.76        NaT
 4     2016-06-10       12.52        58073          203.78 2013-07-05
 7     2016-06-13       12.15        79141          202.24 2013-07-08
 8     2016-06-14       11.98        62251          201.83 2013-07-09
 9     2016-06-15       11.97        52048          201.55 2013-07-10
 10    2016-06-16       10.25      1116258          202.16 2013-07-11
 11    2016-06-17       10.50       196260          201.41 2013-07-12
 14    2016-06-20       10.39       182736          202.72 2013-07-15
 15    2016-06-21       10.43       172017          203.28 2013-07-16
 16    2016-06-22       10.50       199635          202.96 2013-07-17
 17    2016-06-23       10.68       338725          205.59 2013-07-18
 18    2016-06-24       10.52       309467          198.11 2013-07-19
 21    2016-06-27       10.39       119528          194.67 2013-07-22
 22    2016-06-28       11.05       104848          198.18 2013-07-23
 23    2016-06-29       11.09       156384          201.54 2013-07-24
 24    2016-06-30       10.78        51348          204.31 2013-07-25
 25    2016-07-01       11.33       105636          204.66 2013-07-26
 29    2016-07-05       10.54       104305          203.26 2013-07-30
 30    2016-07-06       10.76        98890          204.48 2013-07-31

        vmc close  vmc volume  vmc spy close   mtw date  mtw close  \
Offset
-6         47.584    814768.0         145.61 2013-03-05     4.0272
-5         48.032    575242.0         147.02 2013-03-06     3.9771
-4         49.181    643159.0         147.90 2013-03-07     3.9917
-3         47.380    681980.0         147.28 2013-03-08     4.1149
 0         47.751    552710.0         148.15 2013-03-11     4.1544
 1         46.772    669975.0         148.01 2013-03-12     4.1396
 2         46.450    288633.0         148.07 2013-03-13     4.2127
 3            NaN         NaN            NaN 2013-03-14     4.2818
 4         45.941    738652.0         149.68 2013-03-15     4.3402
 7         45.911    675585.0         150.51 2013-03-18     4.3338
 8         47.850    777944.0         151.61 2013-03-19     4.2840
 9         48.280    416118.0         151.66 2013-03-20     4.4340
 10        49.630    733727.0         153.73 2013-03-21     4.3503
 11        49.600    407926.0         153.80 2013-03-22     4.3087
 14        49.191    273314.0         154.38 2013-03-25     4.2882
 15        48.191    376432.0         153.82 2013-03-26     4.3066
 16        48.915    391816.0         154.19 2013-03-27     4.3108
 17        49.151    342018.0         155.04 2013-03-28     4.2901
 18        49.405    620135.0         155.31        NaT        NaN
 21        49.161    285564.0         155.63 2013-04-01     4.1523
 22        48.613    277440.0         155.29 2013-04-02     4.0166
 23        47.890    412264.0         154.72 2013-04-03     3.9310
 24        47.055    545803.0         155.09 2013-04-04     3.9122
 25        47.919    930439.0         155.26 2013-04-05     3.8351
 29        46.273   1355704.0         154.78 2013-04-09     4.0166
 30        46.174    609813.0         154.89 2013-04-10     4.0293

             ...        ttd volume  ttd spy close  arnc date  arnc close  \
Offset       ...
-6           ...            546557         244.45 2016-11-29      19.481
-5           ...           2334884         245.78 2016-11-30      19.095
-4           ...           1207006         245.88 2016-12-01      19.314
-3           ...           1247872         245.67 2016-12-02      19.501
 0           ...            846928         245.61 2016-12-05      20.066
 1           ...           1929167         246.20 2016-12-06      20.126
 2           ...            761850         246.21 2016-12-07      20.679
 3           ...           1762926         245.98 2016-12-08      20.709
 4           ...            718061         245.70 2016-12-09      21.591
 7           ...            488117         245.56 2016-12-12      21.373
 8           ...            515497         246.10 2016-12-13      20.987
 9           ...            412853         246.22 2016-12-14      20.551
 10          ...            496735         245.75 2016-12-15      20.363
 11          ...            396010         246.19 2016-12-16      20.066
 14          ...            858601         246.65 2016-12-19      19.828
 15          ...            859530         246.04 2016-12-20      19.907
 16          ...            934407         246.03 2016-12-21      19.828
 17          ...           2232516         242.56 2016-12-22      19.877
 18          ...           3901154         242.92 2016-12-23      19.590
 21          ...           1717766         245.33        NaT         NaN
 22          ...           2013506         245.30 2016-12-27      19.590
 23          ...           1183929         245.73 2016-12-28      19.065
 24          ...           1760394         241.89 2016-12-29      18.522
 25          ...           1372067         241.52 2016-12-30      18.362
 29          ...            736532         244.23 2017-01-03      19.005
 30          ...            456641         243.36 2017-01-04      19.511

        arnc volume  arnc spy close  arch date  arch close  arch volume  \
Offset
-6        5937936.0          216.54 2017-04-04      72.164     756572.0
-5        6470847.0          216.01 2017-04-05      71.510     646274.0
-4        7907378.0          215.22 2017-04-06      73.987     513641.0
-3        3138085.0          215.32 2017-04-07      74.046     646346.0
 0        4598020.0          216.63 2017-04-10      75.145     407217.0
 1        4437530.0          217.31 2017-04-11      73.313     506528.0
 2        4542371.0          220.14 2017-04-12      70.718     700474.0
 3        3857546.0          220.69 2017-04-13      70.093     754448.0
 4        6389124.0          222.01        NaT         NaN          NaN
 7        5023811.0          221.76 2017-04-17      70.945     349244.0
 8        4553019.0          223.26 2017-04-18      70.371     666773.0
 9        5929209.0          221.41 2017-04-19      69.599     297002.0
 10       4656992.0          222.31 2017-04-20      70.569     222556.0
 11      16327119.0          221.88 2017-04-21      69.915     335633.0
 14       4551191.0          222.36 2017-04-24      71.005     184265.0
 15       3455619.0          223.23 2017-04-25      70.223     257002.0
 16       2941002.0          222.60 2017-04-26      70.431     291349.0
 17       3515860.0          222.21 2017-04-27      69.291     598940.0
 18       2166339.0          222.54 2017-04-28      69.579     309561.0
 21             NaN             NaN 2017-05-01      69.341     562485.0
 22       2448118.0          223.10 2017-05-02      74.036    1469752.0
 23       3257461.0          221.26 2017-05-03      71.896     611545.0
 24       4694603.0          221.21 2017-05-04      69.341     585134.0
 25       5102225.0          220.39 2017-05-05      70.262     261294.0
 29       4327102.0          222.07 2017-05-09      71.223     188571.0
 30       4477567.0          223.41 2017-05-10      71.510     255099.0

        arch spy close
Offset
-6              233.19
-5              232.49
-4              233.15
-3              232.91
 0              233.05
 1              232.77
 2              231.74
 3              230.24
 4                 NaN
 7              232.28
 8              231.59
 9              231.17
 10             233.05
 11             232.30
 14             234.86
 15             236.22
 16             236.07
 17             236.27
 18             235.75
 21             236.35
 22             236.44
 23             236.15
 24             236.43
 25             237.37
 29             237.11
 30             237.54

[26 rows x 332 columns]