In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('filtered_trades.csv')

   ticker    min    max    min_date    max_date
0    este -75.81  73.51  2016-12-05  2016-06-06
1     vmc -23.28  22.85  2016-08-15  2013-07-01
2     mtw -31.25  28.16  2015-08-24  2013-03-11
3     drq -58.00  41.88  2016-05-02  2015-11-09
4     nem -43.35  43.34  2015-08-31  2015-03-02
5    ceco -59.25  33.14  2011-11-21  2015-03-16
6    nsit -23.96  28.38  2016-08-22  2017-02-27
7     mtn -33.91  49.19  2015-12-21  2017-10-09
8     mye -24.46  27.60  2013-06-03  2013-09-09
9     apa -11.22  11.26  2017-03-13  2016-09-19
10     dg -76.90  66.73  2011-09-26  2012-04-02
11   nuan -19.58  17.96  2017-05-22  2016-11-28
12    chs -22.66  37.15  2013-09-09  2013-03-11
13    jnj -17.49  25.94  2017-08-21  2017-02-20
14   crus -43.72  42.73  2012-04-30  2011-02-14
15   plxs -19.43  14.39  2016-07-25  2010-11-15
16    emn -39.16  48.67  2013-08-26  2013-03-04
17    ghl -17.59  52.89  2010-05-17  2017-10-02
18    gpn -53.04  51.47  2016-10-24  2016-05-02
19     wu -34.85  34.98  2016-08-22  2017-02-27
20    frc -36.17  43.87  2012-09-03  2012-03-05
21    gnw -22.29  31.16  2017-08-28  2017-02-27
22    foe -45.69  38.33  2016-08-29  2016-02-29
23      f -67.73  71.81  2011-09-05  2011-03-14
24   becn -21.99  29.54  2011-02-28  2011-08-15
25    trc -43.94  52.83  2011-06-27  2011-05-23
26     px -18.48  21.01  2012-09-10  2012-03-12
27   aroc -59.49  48.88  2016-09-12  2016-03-14
28    sre -38.98  48.46  2016-07-11  2016-01-11
29   tmus -76.15  61.42  2016-07-04  2016-01-11
..    ...    ...    ...         ...         ...
53   arry -61.74  63.98  2015-10-05  2015-04-13
54   smtc -22.78  27.59  2012-09-03  2012-03-05
55    col -16.64  23.71  2012-05-21  2011-11-21
56   semg -24.13  24.79  2017-04-03  2016-10-03
57    odp -54.93  52.10  2013-08-19  2013-03-04
58    mcd -10.76   8.38  2010-08-16  2010-11-22
59      p -43.36  27.93  2016-10-17  2016-04-25
60   ecyt -34.10  37.25  2012-06-18  2011-12-26
61    kbr -37.11  24.20  2016-09-05  2016-03-07
62    amc -31.90  32.74  2014-06-23  2014-01-20
63   fsic -50.62  52.68  2017-02-13  2016-01-18
64   scwx -35.70  35.26  2016-10-31  2016-10-24
65    fcb -46.03  47.84  2017-02-13  2016-09-05
66   tmhc -71.84  69.73  2015-11-30  2016-02-15
67   hawk -73.82  74.29  2014-06-09  2014-01-06
68    out -31.18  30.03  2017-08-21  2017-02-27
69    qts -48.42  46.89  2015-08-31  2015-03-16
70   ladr -57.56  49.53  2015-08-24  2015-03-02
71   qtwo -51.73  50.61  2015-10-12  2016-04-04
72   mobl -24.74  24.58  2015-08-17  2015-03-23
73   navi -40.95  46.52  2016-08-08  2016-02-15
74   vsto -71.90  52.08  2015-09-28  2015-08-17
75    eri -20.28  26.59  2016-05-09  2017-05-08
76   mcrn -46.90  50.94  2016-04-04  2016-09-26
77   cveo -66.60  66.60  2015-07-20  2015-07-27
78   nblx -21.70  54.79  2017-08-07  2017-03-27
79    htz -28.49  28.49  2016-12-05  2016-11-21
80    ttd -49.09  50.62  2017-05-22  2017-07-24
81   arnc -18.55  20.29  2017-07-17  2016-12-05
82   arch -35.29  52.88  2017-08-28  2017-04-10

[83 rows x 5 columns]

In [14]:
for ticker in df['ticker']:
    data = pd.read_csv('Stocks/' + ticker + '.us.txt')
    data.drop(['Open', 'High', 'Low', 'Volume', 'OpenInt'], axis = 1,inplace=True)
    data.to_csv('data/' + ticker + '.csv')